.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
application.properties

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/main/java/pl/piotrcz/Ticket/Models/User.java
src/main/java/pl/piotrcz/Ticket/Models/User2.java
src/main/java/pl/piotrcz/Ticket/Models/User2Repository.java
src/main/java/pl/piotrcz/Ticket/Models/UserRepository.java
src/main/resources/
